<section class="about section" id="about">

  <h2 class="section__title">About Me</h2>
  <span class="section__subtitle">My introduction</span>

  <div class="about__container container grid">

    <img src="assets/img/perfil.jpg" alt="" class="about__img">

    <div class="about__data grid">
      <p class="about__description">
        The motto that defines me is: Continous learning, efficient team-work and assertive communication are the best engineering tools. I'm a person who is committed to the company, dedicated to pursuing product quality, fostering a positive team atmosphere, and never ceasing to learn
      </p>

      <div class="about__info">
        <span class="about__info-title">06 +</span>
        <span class="about__info-name">Years <br> experience</span>
      </div>

      <div class="about__info">
        <span class="about__info-title">multiple</span>
        <span class="about__info-name"> Completed <br> project</span>
      </div>

      <div class="about__buttons">
        <a download="" href="assets/CV-BRANDON-MARTINEZ.pdf" class="button button--flex" target="_blank">Download CV
          <i class="uil uil-airplay button__icon"></i>
        </a>
      </div>

    </div>



  </div>

</section>
