@media screen and (max-width: 1024px){

  .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding: 0 8rem 0;
  }

}

img{
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.about__img{
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}

.about__data{
  grid-template-columns: 1fr 1.5fr;
  grid-row: auto;
}

.about__description{
  text-align: justify;
  margin-bottom: 1rem;
  grid-column: 1/3;
  padding-right: 4rem;
}

.about__info{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.about__info-name{
  font-size: var(--smaller-font-size);
  text-align: center;
}

.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-title,
.about__info-name{
  display: block;
  text-align: center;
}

.about__buttons{
  grid-column: 1/3;
  width: 100%;
  text-align: center;
}

.button{
  width: max-content;
}

@media screen and (max-width: 700px){
  .about__img{
    height: 200px;
  }
  .about__description{
    padding: 10px;
  }
  .about__container{
    padding: 25px;
  }
}

@media screen and (min-width: 701px){

  .about__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .about__container{
    padding: 1rem;
    column-gap: 2rem;
  }
  .about__description{
    padding: 10px;
  }

}

@media screen and (min-width: 1024px){

  .about__img{
    height: 380px;
  }

  .about__description{
    margin-top: auto;
    margin-bottom: auto;
  }

}
