<section class="contact section" id="contact">
  <h2 class="section__title">Contact info</h2>
  <span class="section__subtitle">Get in touch</span>

  <div class="contact__container container grid">

    <div>
      <div class="contact__information">

        <ul class="enlaces grid">

          <li>
            <a  class="button button--flex" target="_blank" href="https://api.whatsapp.com/send?phone=573188159100">
              <i class="uil uil-whatsapp button__icon"></i>

            </a>
          </li>

           <li>
            <a target="_blank" class="button button--flex" href="https://www.linkedin.com/in/brandon-martinez-86561b203/">
              <i class="uil uil-linkedin button__icon"></i>
            </a>
          </li>

          <li>
            <a class="button button--flex" target="_blank" href="https://goo.gl/maps/JhxRcJ46BMaqTkie9">
              <i class="uil uil-map-marker button__icon"></i>
            </a>
          </li>

          <li>
            <a class="button button--flex" target="_blank" href="https://github.com/BrandonMartinez-jar">
              <i class="uil uil-github button__icon"></i>
            </a>
          </li>

          <li>
            <a class="button button--flex" target="_blank" href="https://devchallenges.io/portfolio/BrandonMartinez-jar">
              <i class="uil uil-arrow button__icon"></i>
            </a>
          </li>

          <li>
            <a class="button button--flex" target="_blank" href="mailto:m.desarrolloyprogramacion@outlook.com">
              <i class="uil uil-at button__icon"></i>
            </a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>
