
.skills__container{
  row-gap: 0;

}

.skills__content{
  width: 100%;
}

.skills__header{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.skills__list{
  margin-bottom: 1rem;
  transition: .5s;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--primary-color);
}

.skills_icon{
  margin-right: .75rem;
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{
  font-size: var(--small-font-size);
  color: var(--title-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__text{
  margin-left: .75rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background: var(--primary-color-light);
}

.skills__percentage{
  display: block;
  background: var(--primary-color);
}

.skills__html,
.skills__mongo{
  width: 90%;
}

.skills__css{
  width: 70%;
}

.skills__js-ts,
.skills__angular,
.skills__nodejs,
.skills__sql{
  width: 80%;
}

.skills__java{
  width: 60%;
}


@media screen and (max-width: 350px){
  .skills__title{
    font-size: var(--normal-font-size);
  }
}

@media screen and (min-width: 700px){
  .skills__container{
    justify-content: center;
  }

  .skills__content{
    width: 600px;
  }

}

@media screen and (max-width: 1400px){
  .skills__close .skills__list{
    height: 0;
    overflow: hidden;
  }

  .skills__open .skills__list{
    height: max-content;
  }

  .skills__open .skills__arrow{
    transform: rotate(-180deg);
  }

}


@media screen and (min-width: 1400px){
  .container{
    grid-template-columns: 600px 600px;
    column-gap: 1rem;
  }
  .skills__arrow{
    visibility: hidden;
  }
  .skills__header{
    cursor: initial;
  }
}
