<section class="skills section" id="skills">

  <h2 class="section__title">Skills</h2>
  <span class="section__subtitle">My technical skills</span>

  <div class="skills__container container grid">

      <div class="skills__content skills__open">

        <div class="skills__header" (click)='ToggleSkills($event)'>
          <i class="uil uil-brackets-curly skills__icon"></i>
          <div class="skills__text">
            <h1 class="skills__title">Frontend Developer</h1>
            <span class="skills__subtitle">More than 2 years</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Angular</h3>
              <span class="skills__number">2 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">HTML</h3>
              <span class="skills__number">3 years</span>
            </div>
          </div>


          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">CSS</h3>
              <span class="skills__number">3 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">JS / TS</h3>
              <span class="skills__number">2 years</span>
            </div>
          </div>

        </div>

      </div>

      <div class="skills__content skills__close">

        <div class="skills__header" (click)='ToggleSkills($event)'>
          <i class="uil uil-database skills__icon"></i>
          <div class="skills__text">
            <h1 class="skills__title">Backend Developer</h1>
            <span class="skills__subtitle">More than 6 years</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Java</h3>
              <span class="skills__number">6 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Node js</h3>
              <span class="skills__number">2 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">SQL</h3>
              <span class="skills__number">6 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">MongoDB</h3>
              <span class="skills__number">2 years</span>
            </div>
          </div>

        </div>

      </div>
      <div class="skills__content skills__close">

        <div class="skills__header" (click)='ToggleSkills($event)'>
          <i class="uil uil-database skills__icon"></i>
          <div class="skills__text">
            <h1 class="skills__title">Coding</h1>
            <span class="skills__subtitle">More than 6 years</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Data Structures</h3>
              <span class="skills__number">6 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Algorithms</h3>
              <span class="skills__number">6 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Design Patterns</h3>
              <span class="skills__number">3 years</span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">SOLID principles</h3>
              <span class="skills__number">3 years</span>
            </div>
          </div>

        </div>

      </div>

  </div>
</section>
