
<section class="portfolio section" id="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>

  <div class="portfolio__container container grid">

    <div class="portfolio__card">

      <div class="card__img">
        <img src="assets/img/slide-img.png" alt="">
      </div>

      <div class="card__content">
        <h2>Title x</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam reiciendis nemo incidunt deleniti fugit </p>
        <a href="#">Demo</a>
      </div>

    </div>

    <div class="portfolio__card">

      <div class="card__img">
        <img src="assets/img/slide-img.png" alt="">
      </div>

      <div class="card__content">
        <h2>Title x</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam reiciendis nemo incidunt deleniti fugit ex aspernatur. Soluta minus laborum magnam nisi. Quo facilis et accusantium iusto delectus laboriosam</p>
        <a href="#">Demo</a>
      </div>

    </div>

    <div class="portfolio__card">

      <div class="card__img">
        <img src="assets/img/slide-img.png" alt="">
      </div>

      <div class="card__content">
        <h2>Title x</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam reiciendis nemo incidunt deleniti fugit ex aspernatur. Soluta minus laborum magnam nisi. Quo facilis et accusantium iusto delectus laboriosam</p>
        <a href="#">Demo</a>
      </div>

    </div>

  </div>
</section>
