
<section class="portfolio section" id="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>

  <div class="portfolio__container container grid">

    <div class="portfolio__card">

      <div class="card__img">
        <img src="assets/img/Social.png" alt="">
      </div>

      <div class="card__content">
        <h2>Social Media Dashboard</h2>
        <p>This is a frontend experiment from devchallenges.io</p>
        <a href="https://brandonmartinez-jar.github.io/Social-media-dashboard/">Demo</a>
      </div>

    </div>

    <div class="portfolio__card">

      <div class="card__img">
        <img src="assets/img/Portfolio.png" alt="">
      </div>

      <div class="card__content">
        <h2>Portfolio</h2>
        <p>This is my personal portfolio, with a good design and a darkmode button</p>
        <a href="https://brandonmartinez-jar.github.io/">Demo</a>
      </div>

    </div>

  </div>
</section>
