
<section class="portfolio section" id="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>

  <div class="portfolio__container container grid">

    <div class="portfolio__card">

      <div class="card__img">
        <img src="assets/img/Porvenir.png" alt="">
      </div>

      <div class="card__content">
        <h2>Porvenir Mobile App</h2>
        <p>Porvenir mobile +700k users app (iOS + Android)</p>
        <a href="https://www.porvenir.com.co/web/canales-de-servicio/porvenir-app">Demo</a>
      </div>

    </div>

    <div class="portfolio__card">

      <div class="card__img">
        <img src="assets/img/Portfolio.png" alt="">
      </div>

      <div class="card__content">
        <h2>Portfolio</h2>
        <p>This is my personal portfolio, with a good design and a darkmode button</p>
        <a href="https://brandonmartinez-jar.github.io/">Demo</a>
      </div>

    </div>

  </div>
</section>
