.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio__card{
  position: relative;
  min-width: 400px;
  min-height: 250px;
  max-width: 400px;
  max-height: 250px;
  object-fit: cover;
  background: var(--body-color);
  border-radius: 20px;
  overflow: hidden;
  transition: .2s;
}
.card__content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  transition: .3s;
  padding-top: 30px;
  border-radius: 15px;
  z-index: 10;
}
.card__content p{
  visibility: hidden;
  padding: .5rem 1rem;
  margin-bottom: 10px;
}
.card__content a{
  color: #fff;
  padding: 10px 20px;
  background: var(--primary-color);
  border-radius: 10px;
}
.card__content a:hover{
  background: var(--primary-alt-color);
}
.portfolio__img{
  width: 400px;
  height: 250px;
  object-fit: cover;
  transition: .5s;
}
.portfolio__img img{
  width: 100%;
  height: 100%;
  transition: .5s;
}
.portfolio__card:hover .card__content{
  height: 100%;
  background: var(--body-color);
}
.portfolio__card:hover .card__content p{
  visibility: visible;
}
.card__content h2{
  position: relative;
  font-weight: var(--font-semi-bold);
  letter-spacing: 1px;

}

@media screen and (max-width: 350px){
  .portfolio__card{
    min-width: 300px;
    min-height: 187.5px;
  }
}
