<section class="qualification section">
  <h2 class="section__title">Qualification</h2>
  <span class="section__subtitle">My personal journey</span>

  <div class="qualification__container container">

    <div class="qualification__tabs">

      <div class="qualification__button button--flex qualification__active" id="education" data-target='#education' (click)='ToggleActive($event)'>
        <i class="uil uil-graduation-cap qualification__icon"></i>
        Education
      </div>

      <div class="qualification__button button--flex" id="work" data-target='#work' (click)='ToggleActive($event)'>
        <i class="uil uil-bag qualification__icon"></i>
        Work
      </div>

    </div>

    <div class="qualification__sections">

      <div class="qualification__content qualification__active education" data-content  >

        <div class="qualification__data">

          <div>
            <h3 class="qualification__title">Commercial High School</h3>
            <span class="qualifiactions__subtitle">Yolkin Institute</span>
            <div class="qualification calendar">
              <i class="uil uil-schedule"></i>   2016
            </div>
          </div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>

        </div>

        <div class="qualification__data">

          <div></div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>

          <div>
            <h3 class="qualification__title">Life skills</h3>
            <span class="qualifiactions__subtitle">SENA</span>
            <div class="qualification calendar">
              <i class="uil uil-schedule"></i>   2020
            </div>
          </div>

        </div>

        <div class="qualification__data">

          <div>
            <h3 class="qualification__title">Web Development Engineer</h3>
            <span class="qualifiactions__subtitle">AWS educate</span>
            <div class="qualification calendar">
              <i class="uil uil-schedule"></i>   2020
            </div>
          </div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>

        </div>

        <div class="qualification__data">

          <div></div>

          <div>
            <span class="qualification__rounder"></span>
          </div>

          <div>
            <h3 class="qualification__title">Sistems Engineer</h3>
            <span class="qualifiactions__subtitle">UNAD University</span>
            <div class="qualification calendar">
              <i class="uil uil-schedule"></i>   Studying
            </div>
          </div>

        </div>

      </div>

      <div class="qualification__content work" data-content >

        <div class="qualification__data">

          <div>
            <h3 class="qualification__title">Software Developer</h3>
            <span class="qualifiactions__subtitle">CORPMAD</span>
            <div class="qualification calendar">
              <i class="uil uil-schedule"></i>  Feb 2019 -  Jan 2021
            </div>
          </div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>

        </div>

        <div class="qualification__data">

          <div></div>

          <div>
            <span class="qualification__rounder"></span>
          </div>

          <div>
            <h3 class="qualification__title">Software Engineer I</h3>
            <span class="qualifiactions__subtitle">indra</span>
            <div class="qualification calendar">
              <i class="uil uil-schedule"></i>    May 2021  - Working
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
