<section class="home section" id="home">

    <div class="home__container container grid">
      <div class="home__content grid">

        <div class="home__img">

          <img src="assets/img/about.jpeg" alt="Foto personal">

        </div>

        <div class="home__data">
          <h1 class="home__title">Software developer</h1>
          <h3 class="home__subtitle">UNAD Student</h3>
          <p class="home__description">
            I’m a person that never stops learning, my focus is software development, front-end and back-end with JavaScript and TypeScript.
          </p>

        </div>
      </div>

    </div>

</section>
